.qingjiao {
  .swiper-container2 {
    // transform: translateX(-36%);
    // width: 100%;
    overflow: hidden;
    padding: 0 20px;
    // .swiper-wrapper {
    //   overflow: hidden;
    // }
    .swiper-slide {
      width: 80px;
      height: 80px;
      overflow: hidden;
      border-radius: 4px;
      transform-origin: left bottom;
      box-shadow: 4px 0 4px rgba(0, 0, 0, 0.2);
      position: relative;
      vertical-align: bottom;
      transition: all 0.5s;
      transform: scale(0.75);
      .swiperimg {
        width: 100%;
      }
    }
    .swiper-slide-active {
      width: 80px;
      height: 80px;
      transform: scale(1);
      transition: all 0.5s;
    }
  }
}
