.preferential {
  background-color: #fff;
  padding: 0 15px;
  width: 100%;
  box-sizing: border-box;
  //   overflow-x: hidden;
  //   overflow-y: visible;
  .title {
    font-size: 18px;
    line-height: 18px;
    color: #333;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    font-weight: 700;
  }
  .main {
    white-space: nowrap;
    .box {
      overflow-x: scroll;
      margin: 0 -15px;
      padding: 0 15px;
    }
    padding-top: 20px;
    .list {
      width: 33%;
      padding-right: 10px;
      margin-bottom: 20px;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      .img {
        background: no-repeat 50%;
        background-size: cover;
        height: 0;
        padding-bottom: 100%;
        position: relative;
        border-radius: 3px;
        .name {
          font-size: 12px;
          line-height: 20px;
          height: 20px;
          border-radius: 10px;
          padding: 0 6px;
          background: rgba(0, 0, 0, 0.4);
          color: #fff;
          transform: scale(0.8333);
          transform-origin: right bottom;
          position: absolute;
          right: 4px;
          bottom: 4px;
        }
      }
      h2 {
        font-size: 15px;
        line-height: 18px;
        color: #191919;
        margin: 10px 0;
        font-weight: 700;
        height: 36px;
        overflow: hidden;
        white-space: normal;
        word-wrap: break-word;
      }
      .jiRV5 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .YGXuX {
          font-size: 13px;
          line-height: 16px;
          color: #f97927;
          margin-bottom: 5px;
          font-weight: 700;
          display: block;
          span {
            font-size: 11px;
            transform: scale(0.9);
            display: inline-block;
          }
        }
        del {
          font-size: 11px;
          line-height: 1;
          color: #ccc;
          display: block;
        }
      }
    }
  }
}
