.Sidebar {
  position: fixed;
  top: 47px;
  left: 0;
  height: 100%;
  width: 84px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f7f7f7;
  z-index: 1;
  padding-bottom: 180px;
  box-sizing: border-box;
  .list {
    width: 100%;
    height: 60px;
    color: #191919;
    cursor: pointer;
    padding: 20px 5px 0;
    box-sizing: border-box;
    text-align: center;
    span {
      display: block;
      font-size: 13px;
      line-height: 19px;
    }
  }
  .light {
    background-color: #fff;
    &:after {
      content: "";
      display: block;
      background-color: #42bd56;
      width: 35px;
      height: 2px;
      margin: 5px auto 0;
    }
  }
}
